/*-----------------------  RESET ------------------------*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0b1 | 201101
   NOTE:WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */

html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{
  display:block;
}
body{
  line-height:1;
}
/*ol,ul{
  list-style:none;
}*/
blockquote,q{
  quotes:none;
}
blockquote:before,blockquote:after,
q:before,q:after{
  content:'';
  content:none;
}
/* remember to define visible focus styles!
:focus{
  outline:?????;
} */

/* remember to highlight inserts somehow! */
ins{
  text-decoration:none;
}
del{
  text-decoration:line-through;
}

table{
  border-collapse:collapse;
  border-spacing:0;
}

/*---------------------- MAIN ----------------------*/


/*----------- FLOATING AND ALIGNMENT ---------------*/

.fl {float: left;}
.fr {float: right;}

/*--- Clear Floats ---*/

.col-width:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.fix {
		clear: both;
		height: 1px;
		margin: -1px 0 0;
		overflow: hidden;
}

html body * span.clear,
html body * div.clear,
html body * li.clear,
html body * dd.clear
{
	background: none;
	border: 0;
	clear: both;
	display: block;
	float: none;
	font-size: 0;
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

/*--------------------- STYLES ---------------------*/


body {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #555555;
    font: 16px/20px Arial,Helvetica,Sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-family:Helvetica,Arial, Sans-serif;
	color: #555555;
	font-weight:normal;
	text-rendering: optimizelegibility;
}
h1 {
	font-size:28px;
}
h2 {
	font-size:26px;
}
h3 {
	font-size:18px;
}
h4 {
	font-size:16px;
}
h5, h6 {
	font-size: 14px;
}
p {
	margin:0;
}
hr {
	background-color: #ddd;
	border:0;
	height: 1px;
	margin-bottom: 20px;
}

input, select {
  vertical-align: middle;
}

input, button, select, textarea {
	padding: 7px 0 7px 7px;
	border-color: #ccc #efefef #efefef #ccc;
	border-width:1px;
	border-style:solid;
	padding: 3px 0px 2px 2px;
}

a {
  text-decoration: none;
}
*:focus {
  outline: 1;
}
article, aside, canvas, details, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

big {
	font-size: 131.25%;
}

blockquote {
	font-style: italic;
	padding: 0 3em;
}

blockquote cite,
blockquote em,
blockquote i {
	font-style: normal;
}

cite, em, i {
	font-style: italic;
}

code {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}


ins {
	background: #ffc;
	text-decoration: none;
}

label,
input,
button,
textarea {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: normal;
	line-height: 18px;
	margin: 2px;
}

p, ol, ul, td {
    font-family: verdana,arial,helvetica,sans-serif;
    font-size: 13px;
    line-height: 18px;
}

pre {
	background: #f7f7f7;
	color: #222;
	line-height: 18px;
	margin-bottom: 18px;
	padding: 1.5em;
	font-family: "Courier 10 Pitch", Courier, monospace;
}

strong {
	font-weight: bold;
}

sup,
sub {
	height: 0;
	line-height: 1;
	vertical-align: baseline;
	position: relative;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}


/*** Text meant only for screen readers ***/

.screen-reader-text {
	position: absolute;
	left: -9000em;
}



/*--------------------- STRUCTURE ---------------------*/

#main {
		background: #d5e04c;      
/*		background: 
 		-moz-linear-gradient(top, #d9dede 0%, #efefef 40%, #efefef 60%, #d9dede 100%); */
    padding: 40px 0 200px;
}

.col-width {
	width: 960px;
	margin: 0 auto;
}

/*--------------------- BRANDING ---------------------*/

#branding {
	background: none repeat scroll 0 0 #ffffff;
   	display: block;
   	padding: 4px 0 0;
   	position: relative;
}

#logo {
    float: left;
}

#logo #site-title, #logo #site-description {
    color: #555555;																	
    font-family: Geneva,Tahoma,sans-serif;
}

h1 {
    font-size: 28px;
		font-weight: normal;
    margin: 0;
}

#logo #site-title a {
    color: #555555;														
    font-size: 32px;
    font-weight: normal;
    line-height: 32px;
    text-decoration: none;
    text-transform: none;
}

#logo #site-description {
    color: #555555;											
    display: block;
    font: italic 14px Georgia,serif;
    margin-top: 5px;
}

/*------------------ NAVIGATION -------------------*/

#navigation {
    display: block;
    float: right;
    font: 14px/14px Helvetica,Arial,sans-serif;
    padding: 16px 0 10px;
}

#navigation ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    z-index: 99;
}

#navigation ul li {
    float: left;
    margin-bottom: 10px;
    margin-left: 10px;
    width: auto;
}

#navigation ul a:hover, #navigation ul .current-page-item, #navigation ul .current-menu-parent, #navigation ul .current-menu-item {
    background: none repeat scroll 0 0 #ababed;				
}

#navigation ul a, #navigation ul .current-page-item, #navigation ul .current-menu-parent, #navigation ul li:hover, #navigation ul li.hover, #navigation ul .current-menu-item {
    border-radius: 8px 8px 8px 8px;
}

#navigation ul a {
    color: #000000;					
    display: block;
    line-height: 18px;
    padding: 5px 10px;
    position: relative;
    text-decoration: none;
    z-index: 100;
}


/*--------------------- CONTENT ---------------------*/

#content {
	padding:0 0 40px;
	float:left;
	position:relative;
	width:960px;
}

h2 {
    font-size: 24px;
		font-weight: normal;
		font-family: Helvetica,Arial,sans-serif;
		margin: 0;		
}

#content article {
    clear: both;
    display: block;
		font-family: 14px/24px Helvetica,Arial,sans-serif; 
    margin-bottom: 40px;
}


/*--------------------- FOOTER ---------------------*/

#colophon {
	display:block;
	padding: 20px;
	border-top: 1px solid #ddd;
	background:#ebebeb;
}


/*--------------------- LINKS ---------------------*/

a:link, a:visited {
    color: #000000;
    text-decoration: none;
}
a:hover {
	text-decoration:underline;
}
h1 a:link, h1 a:visited, h2 a:link, h2 a:visited, h3 a:link, h3 a:visited, h4 a:link, h4 a:visited, h5 a:link, h5 a:visited, h6 a:link, h6 a:visited {
	text-decoration: none;
}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
	text-decoration: underline;
}


/*--------------------- BUTTONS ---------------------*/

.btn {
  display: inline-block;
  padding: 4px 10px 4px;
  font-size: 13px;
  line-height: 18px;
  color: #555555;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: #fafafa;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
  background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  margin: 0px 0px 6px 0px;
  *margin-left: .3em;
}

.btn-primary,
.btn-primary:hover,
.btn-warning,
.btn-warning:hover,
.btn-danger,
.btn-danger:hover,
.btn-success,
.btn-success:hover,
.btn-info,
.btn-info:hover {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  color: #ffffff;
}

.btn-primary {
  background-color: #ADBFC9;
  background-image: -moz-linear-gradient(top, #ADC9C8, #ADBFC9);
  background-image: -ms-linear-gradient(top, #ADC9C8, #ADBFC9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ADC9C8), to(#ADBFC9));
  background-image: -webkit-linear-gradient(top, #ADC9C8, #ADBFC9);
  background-image: -o-linear-gradient(top, #ADC9C8, #ADBFC9);
  background-image: linear-gradient(top, #ADC9C8, #ADC9C8);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ADC9C8', endColorstr='#FF3030', GradientType=0);
  border-color: #FF3030 #FF3030 #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

/*--------------------- IMAGES ---------------------*/

img {
  max-width: 100%;
  height: auto;
}

#content img, img.thumbnail {
	padding: 4px;
	border: 1px solid #bbbbbb;
	border-radius: 8px 8px 8px 8px;
	background:#ffffff;
	background:rgba(255, 255, 255, 0.7);
}

#picframe img {
	padding: 5px;
	border: 1px solid #bbbbbb;
	border-radius: 8px 8px 8px 8px;
	background:#f8f8f8;
	background:rgba(255, 255, 255, 0.7);
}

#big_picframe img {
	padding: 5px;
	border: 1px solid #bbbbbb;
	border-radius: 8px 8px 8px 8px;
	background:#f8f8f8;
	background:rgba(255, 255, 255, 0.7);
}

#noframe img {
	padding: 5px;
	border: none;
	background: none;
}

.alignleft {
	float: left;
	size: auto;   
	margin: 5px 15px 5px 0;
}

.alignright {
	float: right;
	margin: 5px 0 5px 15px;
}

.aligncenter {
	clear: both;
	display: block;
	border-radius: 8px 8px 8px 8px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;   
}

.blocktext {
    margin-left: auto;
    margin-right: auto;
	width: 960px;
}


/*--------------------- FORMS ---------------------*/ 

#forms {
	margin: 15px 0 0 0;
}

#forms input.txt, #forms textarea {
	font:16px/16px Arial, Helvetica, sans-serif;
	border-color: #dddddd #efefef #efefef #cccccc;
	border-width:3px;
	border-style:solid;
}

#forms input.txt {
	color:#555555;
	background: #fcfcfc;
	width: 170px;
	margin: 0 5px 10px 0;
	padding: 5px 7px;
}

#forms textarea {
	color:#555555;
	background: #fcfcfc;
	width: 98%;
	height: 200px;
	padding: 7px;
	border-style:solid;
	border-color: #999999;
}	

.formleft {
	float: left;
/*	width: auto;*/
	margin: 0px 20px 0px 0;
}

.formright {
	float: right;
/*	width: auto; */
	margin: 0px 20px 0px 0;
}

#forms, .actions a {
	margin: 10px 2 2 2;
	font-weight:bold;
	font-size: 16px;
	font-family: Arial,Helvetica,Sans-serif;
	background: transparent;
	display: inline-block;
	padding: 5px 10px 6px;
	color: #555555;
	text-decoration: none;
	position: relative;
	cursor: pointer;
	text-shadow: 0 -2px 4px rgba(0, 0, 0, 0.25);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);

	border:none;
	border: 1px solid rgba(0, 0, 0, .25);
	border-bottom-color: rgba(0, 0, 0, .35);
}

.form-actions {
    background-color: transparent;
    margin-bottom: 18px;
    margin-top: 18px;
    padding: 17px 20px 18px;
}

.label {
    background: none repeat scroll 0 0 transparent;
    border-radius: 3px 3px 3px 3px;
    color: #304CA1;
    display: inline;
    font-size: 14px;
    font-weight: bold;
    padding: 1px 5px 5px;
    text-transform: uppercase;
		text-shadow: none;
}

label, input, button, select, textarea {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;

}

.label-info {
		background: none;
		padding: 1px 5px 5px;
		display: inline;    
		font-size: 18px;
		color: #000000;
}

input, textarea, .uneditable-input {
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    color: #555555;
    display: inline-block;
    font-size: 18px;
    height: 24px;
    line-height: 22px;
    margin-bottom: 9px;
    padding: 4px;
    width: 210px;
}

input, textarea {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}


/*----------------- NOTICES AND ERRORS ---------------------*/

#notice {
  font-family: "Courier New", monospace;
  font-size: 20px;
  color: green; 
}

#error {
  font-family: "Comic Sans MS", monospace;
  font-size: 18px;
  font-style: italic;
  color: red;
}

#additional_info {
  font-family: "Courier New", monospace;
  font-size: 18px;
  font-style: italic;
  color: #375578;
  text-transform: uppercase; 
}
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; 
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 16px;
  background-color: #f0f0f0;
  font-family: "Comic Sans MS", monospace;
  h2 {
    text-align: left;
  	font-style: italic;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
}

/*--------------------- COMMENTS ---------------------*/

.comments { 
	width: 400px; 
	height: 100px; 
} 

/*---------------------- TABLES ---------------------*/

table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 18px;
    max-width: 100%;
    color: #555555;
    font-family: Palatino Linotype,Book Antiqua3,Palatino,serif;
    font-size: 16px;
}

/*--------------------- SCROLLER ---------------------*/


#scroller {
    overflow-x:scroll;
    overflow-y:hidden;
    white-space:nowrap;
}

/*--------------------- EMAIL ---------------------*/

#email input.txt, #email textarea {
	font:16px/16px Arial, Helvetica, sans-serif;
	border-color: #dddddd #efefef #efefef #cccccc;
	border-width:1px;
	border-style:solid;
}

#email input.txt {
	color:#555555;
	background: #fcfcfc;
	width: 170px;
	margin: 0 5px 10px 0;
	padding: 5px 7px;
}

#email textarea {
	color:#555555;
	background: #fcfcfc;
	width: 95%;
	height: 350px;
	padding: 7px;
	border-style:solid;
	border-color: #999999;
}

/*--------------------- THE END ---------------------*/


